NAME_PROJECT=dreamon
NAME_REACT_CONTAINER=dreamon_react
NAME_SGBD_CONTAINER=dreamon_mongo
NAME_MOEXPRESS_CONTAINER=dreamon_moexpress
NAME_MAILHOG_CONTAINER=dreamon_mailhog
VALUE_SGBD_VERSION=latest
VALUE_MOEXPRESS_VERSION=latest
VALUE_MAILHOG_VERSION=latest
VALUE_REACT_PORT=3000
VALUE_SGBD_PORT=27020
VALUE_MOEXPRESS_PORT=8080
VALUE_MAILHOG_DISPLAY_PORT=8020
MONGO_DATABASE=dreamon
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=secret
FOLDER_PROJECT_REACT=www
