NAME_PROJECT=drea
NAME_REACT_CONTAINER=drea_react
NAME_SGBD_CONTAINER=drea_mongo
NAME_MOEXPRESS_CONTAINER=drea_moexpress
NAME_MAILHOG_CONTAINER=drea_mailhog
VALUE_SGBD_VERSION=latest
VALUE_MOEXPRESS_VERSION=latest
VALUE_MAILHOG_VERSION=latest
VALUE_REACT_PORT=3000
VALUE_SGBD_PORT=27020
VALUE_MOEXPRESS_PORT=8080
VALUE_MAILHOG_DISPLAY_PORT=8020
MONGO_DATABASE=drea
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=secret
FOLDER_PROJECT_REACT=projectreact
