NAME_PROJECT=dreamon
NAME_PROJECT_CONTAINER=dreamon_react
NAME_SGBD_CONTAINER=dreamon_mongo
NAME_SGBD_DISPLAY_CONTAINER=dreamon_moexpress
NAME_MAIL_DISPLAY_CONTAINER=dreamon_mailhog
VALUE_SGBD_VERSION=latest
VALUE_SGBD_DISPLAY_VERSION=latest
VALUE_MAIL_DISPLAY_VERSION=latest
VALUE_PROJECT_PORT=3000
VALUE_SGBD_DISPLAY_PORT=8080
VALUE_MAIL_DISPLAY_PORT=8020
SGBD_DATABASE=dreamon
SGBD_ROOT_USERNAME=root
SGBD_ROOT_PASSWORD=secret
FOLDER_PROJECT=www
