/.env
/projecttmp
/tmp_install
/install_tmp
/project/node_modules/
/project/config/connection_server.json
/project/config/connection_mongo.json
/project/config/config_email.json
/project/package-lock.json
/project/updateProject.sh
/project/www/node_modules/
/project/www/npm-debug.log
/project/www/yarn-error.log
/project/www/package-lock.json
