# Adopt version 2 syntax:
#   https://docs.docker.com/compose/compose-file/#/versioning
version: '3.27'

services:
###########################
# Setup the PHP container
###########################
    react:
        build: .docker/react
        container_name: ${NAME_PROJECT_CONTAINER}
        restart: always
        tty: true
        stdin_open: true
        depends_on:
            - mongo
        volumes:
            #- ./.docker/config/connection_mongo.json:/home/project/config/connection_mongo.json:rw
            #- ./.docker/config/config_email.json:/home/project/config/config_email.json:rw
            - ./.docker/react/startserver:/etc/init.d/startserver:rw
            - ./.docker/react/updateProject.sh:/home/updateProject.sh:rw
            - ./.env:/home/.env:rw
            - ./project:/home/project:rw
            - ./projecttmp/logs/react:/var/log/react:rw
        ports:
            - ${VALUE_PROJECT_PORT}:3000
        
###########################
# Setup the mongo container
###########################
    mongo:
        image: mongo:${VALUE_SGBD_VERSION}
        container_name: ${NAME_SGBD_CONTAINER}
        restart: always
        volumes:
            - ./projecttmp/mongo_data:/data/db
            - ./projecttmp/mongo-seed/:/mongo-seed/
            - ./.env:/mongo-seed/.env
            - ./.docker/mongo/import.sh:/mongo-seed/import.sh
            # start data
            - ./config/sgbd_data/0001_people.json:/mongo-seed/0001_people.json
            # end data
        environment:
            - MONGO_INITDB_DATABASE=${SGBD_DATABASE}
            - MONGO_INITDB_ROOT_USERNAME=${SGBD_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${SGBD_ROOT_PASSWORD}
        
###########################
# Setup the mongo-express container
###########################
    mongo-express:
        image: mongo-express:${VALUE_SGBD_DISPLAY_VERSION}
        container_name: ${NAME_SGBD_DISPLAY_CONTAINER}
        restart: always
        environment:
            - ME_CONFIG_MONGODB_ADMINUSERNAME=${SGBD_ROOT_USERNAME}
            - ME_CONFIG_MONGODB_ADMINPASSWORD=${SGBD_ROOT_PASSWORD}
            - ME_CONFIG_MONGODB_URL=mongodb://${SGBD_ROOT_USERNAME}:${SGBD_ROOT_PASSWORD}@mongo:27017
        links:
            - mongo
        ports:
            - ${VALUE_SGBD_DISPLAY_PORT}:8081
        
###########################
# Setup the mailhog container
###########################
    mailhog:
        image: mailhog/mailhog:${VALUE_MAIL_DISPLAY_VERSION}
        container_name: ${NAME_MAIL_DISPLAY_CONTAINER}
        restart: always
        ports:
            - ${VALUE_MAIL_DISPLAY_PORT}:8025
